# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/src/main/webapp/Koala-Tea-WebApp/dist
/src/main/webapp/Koala-Tea-WebApp/bin
/src/main/webapp/Koala-Tea-WebApp/tmp
/src/main/webapp/Koala-Tea-WebApp/out-tsc
/bin
/logs

# dependencies
src/main/resources/webapp/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/target
.sts4-cache/
src/main/resources/application.properties

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
