<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" routerLink="landing">Koala-Tea Food</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="landing">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="create-recipe">Create Recipe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reimbursement Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hidden" id="" href="#">Pending Requests</a>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link disabled" href="#" id="">User's Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id=""	routerLink="login">Logout</a>
        </li>
        </ul>
    </div>
</nav>
