<div id="container" class="col-xs-12 col-sm-3 col-md-6">
    <div class="row">
        <div class="formbox col-md-12">
            <form  action="" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12">
                    <h4>Create Meal Plan:</h4>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="date">Date</label>
                        <input type="date" required name="date" class="form-control" id="date">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="recipename">Recipe Name</label>
                        <input type="text" required class="form-control" id="recipename" name="recipename" placeholder="Recipe Name"/>
                    </div>
                </div>
                <div id="ingredient_block" class="form-row">
                    <div id="item" class="form-group form-row col-md-12">
                        <div class="form-group col-md-6">
                            <label for="course">Course</label>
                            <select id="course" required name="course" class="form-control">
                                <option *ngFor="let c of course" value="1">{{c}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="time">Time</label>
                            <input type="time" required class="form-control" id="time" name="time"/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button id="btn" type="submit" class="btn btn-success">Add Meal Plan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>